services:
  - type: web
    name: ai-churn-prediction-app
    env: python
    region: singapore
    plan: free
    branch: main
    buildCommand: ./build.sh
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000