services:
  - type: web
    name: ai-churn-prediction-app
    env: python
    region: singapore
    plan: free
    branch: main
    buildCommand: |
      pip install -r requirements.txt
      python train_model.py
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000